<div id="header">
    <h1 align="Center">Commutin</h1>
    <h3 align="center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Curabitur vel efficitur dui. 
            Curabitur ac vehicula elit, non molestie felis. 
            Sed nunc dui, finibus ut purus quis, molestie finibus risus. 
            Aenean auctor interdum sem, non efficitur risus pellentesque a. 
            Curabitur vitae. 
    </h3>
</div>